* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
*:before, *:after{
    box-sizing: border-box;
}

/**Boot CSS**/
body{
    overflow-x: hidden;
    background-color: #222;
}
.center {
    max-width: 1280px;
    padding: 0 5%;
    margin: 0 auto;
}
.w50 {
    padding: 0 10%;
    width: 50%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

/*Estilização*/

header{
    height: 80px;
    background-color: #393939;
}
header #brand-logo{
    width: 70%;
    display: flex;
    align-items: center;
}
header #brand-logo a img{
    height: 60px;
    width:auto;
}
header #brand-logo p{
    margin-left: 30px;
    font-size: 20px;
    line-height: 80px;
    height: 80px;
    color: #ccc;
}
header #nav-btn{
    height: 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
header #nav-btn button{
    height:100%;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
header #nav-btn button a{
    font-size:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    color: #fff;
}
header #nav-btn button i{
    margin-left: 5px;
    font-size:15px;
}
header #nav-btn button:nth-child(1){
    width: 60px;
    margin-right: 8px;
    background-color: #cfcfcf;
}
header #nav-btn button:nth-child(1):hover{
    cursor: pointer;
}
header #nav-btn button:nth-child(2){
    width: 80px;
    margin-right: 8px;
    background-color:#173d7f;
    transition: .5s;
}
header #nav-btn button:nth-child(2):hover{
    background-color:#122f62;
    transition: .5s;
}
header #nav-btn button:nth-child(3){
    width: 130px;
    background-color:#1fca22;
    transition: .5s;
}
header #nav-btn button:nth-child(3):hover{
    background-color:#189f1b;
    transition: .5s;
}
section#intro{
    height:calc(100vh - 80px);
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(../imagens/estadio.jpg);
    background-size: 100%;
    background-position: 100%;
}
#landing article#background{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
article#background figure{
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 450px;
    width: 700px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
article#background figure div{
    padding: 15px;
}
article#background figure h1{
    font-size: 35px;
    color: #ccc;
    margin-bottom: 50px;
}
article#background figure p{
    font-size: 17px;
    color: #b2b2b2;
}
#taca{
    padding: 15px;
    height: 360px;
    width: auto;
}
#chevrondown{
    width:68px;
    height: 60px;
    position: absolute;
    bottom: 35px;
    right: 45px;
}
article#lastsliders{
    padding-right: 0;
    background-color: #fff;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.logo img{
    width: 250px;
    height:auto;
}
#text{
    margin-right: 100px;
    width: 400px;
    height: 300px;
}
#text h1{
    margin-top: 10px;
    font-size: 35px;
    padding: 5px;
    color: #173d7f;
}
#text p{
    padding: 15px;
    font-size: 18px;
    text-align: justify;
    color: #737373;
}
.slider-container {
    margin-right: 5px;
    position: relative;
    overflow-x: hidden;
    width: 750px;
    height: 350px;
}
.slider-wrapper {
    position: relative;
    display: flex;
    width: 2400px;
    transition: transform 0.5s ease-in-out;
}
.slider-item {
    border-radius: 15px;
    flex: 0 0 250px;
    height: 280px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
}
.item1{
    background-color:  rgb(34, 169, 222);
}
.item2{
    background-color:  rgb(0, 28, 81);
}
.slider-item img{
    height: 180px;
}
.slider-item h2{
    text-align: center;
    width: 95%;
    margin-top: 5px;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    color: #fff;
}
.slider-item p{
    text-align: center;
    width: 95%;
    margin-top: 5px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    color: #fff;
}

.slider-prev,
.slider-next {
    position: absolute;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: #173d7f;
    color: #fefefe;
    cursor: pointer;
}
.slider-prev {
    width: 90px;
    border-radius: 25px;
    left: 36%;
    bottom: 0;
}
.slider-next {
    width: 90px;
    border-radius: 25px;
    right: 36%;
    bottom: 0;
}
article#presentation{
    padding-top: 95px;
    background-color: #fff;
    height: 500px;
}
#presentation-container{
    height:300px;
}
div#singin{
    width:45%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
div#singin a img{
    width: 400px;
    height: auto;
}
#singin nav{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
#singin nav button{
    background-color:#173d7f;
    border: none;
    border-radius: 10px;
    width: 120px;
    margin: 0 10px;
    height:50px;
    transition: .5s;
}
#singin nav button:nth-child(2){
    background-color:#1fca22;
}
#singin nav button:nth-child(2):hover{
    background-color:#189f1b;
}
#singin nav button:hover{
    transition: .5s;
    cursor: pointer;
    background-color:#122f62;
}
#singin nav button a{
    font-size:15px;
    text-decoration: none;
    color: #fff;
}
div#description{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#description h1{
    text-align: center;
    font-size:25px;
    color: #173d7f;
    font-weight: bolder;
    margin-bottom: 25px;
}
#description ul{
    margin-left: 100px;
}
#description ul li{
    color: #173d7f;
    margin: 5px 0;
    list-style:square;
}
#description ul li span{
    color:#8c8c8c;
}
article#services{
    padding-top: 95px;
    background-color: #fff;
    height: 500px;
}
#icon-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
#icon-container .icon-box{
    margin: 5px;
    height: 320px;
    width: 20%;
    background-color:#e1e1e1;
    border-radius: 15px;
}
.icon-box img{
    width: 75px;
    height: 65px;
    margin: 15px 100px;
}
.icon-box h2{
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: #173d7f;
}
.icon-box p{
    font-size:12px;
    padding: 15px;
    text-align:justify;
}
footer{
    position: relative;
    bottom: 0;
    margin-top: 70px;
    height: 200px;
}
#links ul{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
#links ul li{
    list-style: none;
    margin: 0 20px;
}
#links ul li a{
    font-weight: bolder;
    color: #fff;
    font-size:21px;
    text-decoration: none;
    transition: .1s;
}
#links ul li a:hover{
    transition: .1s;
    color: #173d7f;
    text-decoration: underline;
}
#politics ul{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
#politics ul li{
    margin: 0 20px;
    list-style: none;
}
#politics ul li a{
    transition: .1s;
    color: #aeaeae;
    font-size:15px;
    text-decoration: none;
}
#politics ul li a:hover{
    transition: .1s;
    color: #fff;
    text-decoration: underline;
}
#icons ul{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
#icons ul li{
    margin: 0 20px;
    list-style: none;
}
#icons ul li a{
    text-decoration: none;
}
#icons ul li a i{
    font-size:35px;
}
.fa-facebook-official{
    color: #263861;
    transition: .1s;
}
.fa-facebook-official:hover{
    transition: .1s;
    text-decoration: underline;
}
.fa-youtube-play{
    transition: .1s;
    color: #c4302b;
}
.fa-youtube-play:hover{
    transition: .1s;
    text-decoration: underline;
}
.fa-twitter{
    transition: .1s;
    color: #00acee;
}
.fa-twitter:hover{
    transition: .1s;
    text-decoration: underline;
}
.fa-google-plus{
    transition: .1s;
    color: #db4a39;
}
.fa-google-plus:hover{
    transition: .1s;
    text-decoration: underline;
}
footer p{
    font-size:12px;
    padding: 10px;
    text-align: center;
    color: #aeaeae;
}


