* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
*:before, *:after{
    box-sizing: border-box;
}

/**Boot CSS**/
body{
    overflow-x: hidden;
}
.center {
    max-width: 1280px;
    padding: 0 5%;
    margin: 0 auto;
}
.w50 {
    padding: 0 10%;
    width: 50%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

/*Estilização*/
body{
    height: 100%;
}
aside{
    position: fixed;
    width:300px;
    height: 100%;
    background-color: rgb(56, 56, 56);
    overflow-y: scroll;
}
aside .box-aside{
    display: flex;
    flex-direction: column;
}
aside .profile{
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
aside .profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
aside .profile p{
    margin-top: 10px;
    color: #ccc;
    font-size: 14px;
}
aside .lastaccess,
aside .all{
    padding: 15px;
}
aside .lastaccess h2,
aside .all h2{
    color: #9f9f9f;
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}
aside .lastaccess a,
aside .all a{
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}
#main{
    background-color: rgb(30, 31, 67);
    height: 100%;
    width:calc(100% - 300px);
    overflow-y:visible;
}
#main header{
    height:80px;
}
#main header i{
    width: 30px;
    margin: 25px 25px;
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: #ccc;
}
#main header h1{
    margin-top: 20px;
    height: 40px;
    width: 400px;
    font-size: 28px;
    color: #ccc;
}
#main header button{
    padding: 6px;
    margin-right: 15px;
    margin-top: 24px;
    height: 32px;
    border: none;
}
#main header #initialpage{
    width: 150px;
    background-color: blue;
}
#main header #getout{
    width: 70px;
    background-color: blueviolet;
}
#main header button a{
    font-size: 16px;
    color:#ccc;
    text-decoration: none;
}
#main header button a:visited{
    text-decoration: none;
}
#main header button a i{
    font-size: 20px;
    margin: 0 5px;
    display: inline;
}
#main main .container-main{
    padding: 15px;
    background-color: #ccc;
}
#main main .container-main p{
    padding: 15px;
    background-color: blue;
}